body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #1e293b;  
    font-family: Arial, Helvetica, sans-serif;

    
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;               
    flex-direction: column;       
    align-items: center;
    gap: 20px;                   
    background-color: #334155;   
    padding: 40px;
    border-radius: 10px;
}


h1 {
    display: block;              
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ebe7e7;
}


button {
    display: inline-block;       
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #3bb0e2;
    color: #000;
}

button:hover {
    background-color: #20a4dc;
}
button:active {
    background-color: #049cde;
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.2rem;
    }

    button {
        width: 100%;
    }
}
