body {
    background-color: rgb(182, 220, 220);
}

header {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:300;
    text-transform: uppercase;
}

header h3 {
  display: inline;
}

.profile-cont {
    display: flex;
    gap: 30px;
}

.image {
    display: flex;
    justify-content: center;
    margin: 5px;
}


.image img{
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(48, 47, 47);

}

.interests {
        text-align: center;
    }

.contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.contents div {
    background-color: rgb(185, 190, 195);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input, button, textarea {
    margin: 5px;
    width: 25vw;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: center;
    border-radius: 5px;
    outline: none;
    border: 1px solid;
    font-size: medium;
}
.contact-form button {
    cursor: pointer;
    background-color: aqua;
}

.contact-form button:hover {
    box-shadow: 0px 0px 5px black;
}

footer {
    text-align: center;
}

 @media (max-width: 600px) {
    .profile-cont {
        display: block;
    }
    
    .image img {
        max-width: 250px;
        width: 100%;
        height: auto;
    }

    .contents {
        grid-template-columns: 1fr;
    }
 
 }